<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gradle.builditbigger.jokelibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.example.android.jokelibrary.JokeActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
